body.has-circle .circle{
    display: inline-block;
}
.circle{
    position: absolute;
    z-index: -100;
    display: none;
    border-radius: 100%;
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
}
body.has-circle.gradient .circle{
    background-image: var(--gradient);
    background-position: center center;
    background-size: cover;
}
body.has-circle.first.circle{
    background-color: var(--first-color);
}
body.has-circle.second.circle{
    background-color: var(--second-color);
}
.circle.small{
    width: 200px;
    height: 200px;
}
circle.big{
    width: 500px;
    height: 500px;
}
.circle.top{
    top: 0;
}
.circle.bottom{
    bottom: 0;
}
.circle.small.vertical-center{
    top: calc(50% - 100px);
}
.circle.big.vertical-center{
    top: calc(50% - 250px);
}
.circle.right{
    right: 0;
}
.circle.left{
    left: 0;
}
.circle.small.horizontal-center{
    left: calc(50% - 100px);
}
.circle.big.horizontal-center{
    left: calc(50% - 250px);
}