:root{
    --gradient: linear-gradient(90deg, #fee140 0%, #fa709a 150%);
    --first-color: #fee140;
    --second-color: #fa709a;
    --hero-image: url('image/svg/hero-image-fee140-fa709a.svg');
}
body.light{
    --light-color: #fff9d9;
    --light-hover-color: #fff6c2;
    --lighter-color: #fffceb;
    --overlay-color-solid: rgba(255, 252, 235, 0.8);
    --overlay-color: rgba(255, 252, 235, 0.4);
    --very-light-color: #fffdf5;
}
body.dark{
    --light-color: #33322b;
    --light-hover-color: #4d4a3a;
    --lighter-color: #33322f;
    --overlay-color-solid: rgba(51, 50, 47, 0.8);
    --overlay-color: rgba(51, 50, 47, 0.4);
    --very-light-color: #333331;
}