:root{
    --font: "Roboto";
    --gradient: linear-gradient(90deg, rgba(247,192,37,1) 0%, rgba(254,126,0,1) 150%);
    --first-color: #F7C025;
    --second-color: #FE7E00;
    --body-color: #222222;
    --box-shadow-color: #222222;
    --font-color: #ffffff;
    --image-overlay-color: #222222;
    --top-bottom-box-color: #323232;
}