:root{
    --font: "Roboto";
    --gradient: linear-gradient(90deg, #F7C025 0%, #FE7E00 150%);
    --first-color: #F7C025;
    --second-color: #fc840e;
    --hero-image: url('image/svg/hero-image-yellow-orange.svg');
}
body.light{
    --light-color: #f5ecd6;
    --light-hover-color: #f3e1b8;
    --lighter-color: #fffaeb;
    --overlay-color-solid: rgba(255, 250, 235, 0.8);
    --overlay-color: rgba(255, 250, 235, 0.4);
    --very-light-color: #fffef6;
    --body-color: #FaFaFa;
    --box-shadow-color: #aaaaaa;
    --dark-box-shadow-color: #444444;
    --font-color: #222222;
    --opposite-font-color: #ffffff;
    --top-bottom-box-color: #ffffff;
}
body.dark{
    --light-color: #333333;
    --light-hover-color: #383838;
    --lighter-color: #444444;
    --overlay-color-solid: rgba(55, 55, 55, 0.8);
    --overlay-color: rgba(55, 55, 55, 0.4);
    --very-light-color: #555555;
    --body-color: #323232;
    --box-shadow-color: #222222;
    --dark-box-shadow-color: #444444;
    --font-color: #ffffff;
    --opposite-font-color: #ffffff;
    --top-bottom-box-color: #222222;
}