:root{
    --gradient: linear-gradient(90deg, #9599e2 0%, #8bc6ec 150%);
    --first-color: #9599e2;
    --second-color: #8bc6ec;
    --hero-image: url('image/svg/hero-image-8bc6ec-9599e2.svg');
}
body.light{
    --light-color: #d9f0ff;
    --light-hover-color: #bae1ff;
    --lighter-color: #ebf8ff;
    --overlay-color-solid: rgba(255, 255, 255, 0.8);
    --overlay-color: rgba(235, 248, 255, 0.4);
    --very-light-color: #ebf8ff;
}
body.dark{
    --light-color: #2b3033;
    --light-hover-color: #3a454d;
    --lighter-color: #2f3233;
    --overlay-color-solid: rgba(47, 50, 51, 0.8);
    --overlay-color: rgba(47, 50, 51, 0.4);
    --very-light-color: #333333;
}