.about-us-box{
    position: relative;
    width: 100%;
    height: 500px;
}
.about-us-box-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: min-content;
    padding: 50px 40px;
    border-radius: 20px;
    background-color: var(--about-us-container-color);
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
    backdrop-filter: blur(5px);
}
.about-us-box-container:hover{
    box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.about-us-box-circle{
    position: absolute;
    right: calc(50% - 600px);
    bottom: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: var(--gradient);
}
.about-us-box-text-container{
    width: 50%;
    height: 200px;
}
.about-us-box-image-container{
    width: 50%;
    height: 300px;
    border-radius: 20px;
    background-image: url("../image/about-us-image.svg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
.about-us-box-title{
    width: 100%;
    height: min-content;
    font-family: var(--font);
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    color: var(--hero-font-color);
}
.about-us-box-text{
    width: 100%;
    height: min-content;
    margin-top: 40px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    text-align-last: left;
    color: var(--hero-font-color);
}