.card-box{
    position: relative;
    width: 100%;
    background-color: transparent;
}
.card-box.article{
    height:1000px;
}
.card-box.team{
    height:700px;
}
.card-box-container{
    position: relative;
    width: 100%;
    height:220px;
    border-radius: 20px;
    padding: 0 40px;
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
    backdrop-filter: blur(5px);
    background-color: var(--card-box-color);
}
.card-box-container:hover{
    box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.card-box-title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    color: var(--hero-font-color);
}
.card-box-button{
    align-self: center;
    margin-top: 30px;
    width: 120px;
}