.carousel-box{
    position: relative;
    width: 100%;
    background-color: transparent;
}
.carousel-box.article{
    height:1000px;
}
#team_slide{
    margin-top: 50px;
}
.carousel-box.team{
    height:700px;
}
.carousel-box-container{
    position: relative;
    width: 100%;
    height:220px;
    border-radius: 20px;
    padding: 0 40px;
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
    backdrop-filter: blur(5px);
    background-color: var(--carousel-box-color);
}
.carousel-box-container:hover{
    box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.carousel-box-title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    color: var(--hero-font-color);
}
.carousel-box-button{
    align-self: center;
    margin-top: 30px;
    width: 120px;
}
.carousel-box-circle{
    position: absolute;
    left: calc(50% - 600px);
    top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: var(--gradient);
    z-index: -100;
}
.carousel-box-circle-2{
    position: absolute;
    right: calc(50% - 600px);
    top: 100px;
    width: 600px;
    height: 600px;
    border-radius: 300px;
    background-image: var(--gradient);
}
.carousel-box-circle-2.team{
    width: 450px;
    height: 450px;
    right: calc(50% - 225px);
}
body .splide__slider{
    padding: 0;
}
body .splide__track{
    padding: 40px 0;
}
body .splide__arrow--prev{
    left: -40px;
}
body .splide__arrow--next{
    right: -40px;
}
body #team_slide .splide__arrow--prev{
    left: 0;
}
body #team_slide .splide__arrow--next{
    right: 0;
}
body .splide__pagination__page{
    background-color: var(--yellow);
}
body .splide__pagination__page.is-active{
    background-color: var(--orange);
}
body .splide__arrow{
    background-color: var(--orange);
}
body .splide__arrow:hover{
    background-color: var(--yellow);
}