.hero-box{
    position: relative;
    width: 100%;
    height: 800px;
}
.hero-box-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../image/hero-image.jpg");
    filter: blur(-1px);
}
.hero-box-title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: var(--hero-font-color);
}
.hero-box-text{
    width: 100%;
    height: 80px;
    margin-top: 15px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    text-align-last: left;
    color: var(--hero-font-color);
}
.hero-box-button{
    width: 150px;
}