:root{
    --font: "Roboto";
    --gradient: linear-gradient(90deg, #F7C025 0%, #FE7E00 150%);
    --first-color: #F7C025;
    --second-color: #FE7E00;
    --light-color: #f5ecd6;
    --light-hover-color: #f3e1b8;
    --lighter-color: #fffaeb;
    --overlay-color: rgba(255, 250, 235, 0.8);
    --very-light-color: #fffef6;
    --body-color: #FaFaFa;
    --box-shadow-color: #aaaaaa;
    --dark-box-shadow-color: #444444;
    --font-color: #222222;
    --opposite-font-color: #ffffff;
    --top-bottom-box-color: #ffffff;
}