.top-nav-box{
    width: 100%;
    height: 40px;
}
.top-logo-box{
    position: relative;
    width: 220px;
    height: 40px;
}
.top-logo-animator{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px -2px var(--box-shadow-color);
    background-image: var(--gradient);
    background-size: 200% 200%;
    background-position: 50% 100%;
    z-index: 10;
    transition: 0.4s;
}
.top-logo-name{
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1px;
    color: var(--font-color);
}
.top-logo-box:hover{
    margin-right: 60px;
    width: 160px;
    justify-content: center;
}
.top-logo-box:hover .top-logo-name{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 24px;
    color: var(--button-font-color);
    text-align: center;
    z-index: 100;
}
.top-logo-box:hover .top-logo-animator{
    width: 100%;
    box-shadow: 0 4px 6px -2px var(--box-shadow-color);
    background-position: 130% 100%;
}
.top-nav{
    float: left;
    position: relative;
    height: 100%;
    width: calc(100% - 320px);
}
.top-nav-link{
    display: inline-block;
    font-family: var(--font);
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    color: var(--font-color);
    background-color: transparent;
    padding: 5px;
    margin: 0 15px;
    border-radius: 20px;
}
.top-nav-link:hover{
    margin: 0 8px;
    padding: 12px;
    background-color: var(--top-nav-link-color);
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
}
.sign-button{
    display: inline-block;
    float: right;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: var(--button-font-color);
    background-image: var(--gradient);
    background-size: 200% 200%;
    background-position: 50% 100%;
    box-shadow: 0 2px 4px -2px var(--box-shadow-color);
}
.sign-button:hover{
    box-shadow: 0 4px 6px var(--box-shadow-color);
    background-position: 135% 100%;
}
body .material-icons-outlined{
    font-size: 17px;
    vertical-align: text-bottom;
}
.top-search-bar{
    position: absolute;
    display: inline-block;
    right: calc(50% - 280px);
    width: 0;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px -2px var(--box-shadow-color);
    transition: 0.35s;
}
.top-search-bar:hover{
    box-shadow: 0 4px 6px var(--box-shadow-color);
}
.top-search-input{
    height: 100%;
    width: 100%;
    padding-right: 40px;
    padding-left: 20px;
    border-radius: 20px;
    font-family: var(--font);
    font-size: 13px;
    color: var(--font-color);
    background-color: var(--search-box-color);
}
.top-search-input:hover{
    background-color: var(--search-box-hover-color);
}
.top-search-button{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--font-color);
    font-size: 20px;
}