.card-box{
    position: relative;
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
.card-box .text-box{
    position: relative;
    width: 100%;
    height:min-content;
    margin-bottom: 30px;
}
.card-box .title{
    width: 100%;
    height: min-content;
    line-height: 40px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    color: var(--font-color);
}
.card-box .description{
    float: left;
    display: inline-block;
    width: 100%;
    height: min-content;
    margin-top: 20px;
    font-family: var(--font);
    font-size: 15px;
    text-align: left;
    color: var(--font-color);
}
.card-box .text-separator{
    float: left;
    position: relative;
    width: 30%;
    height:min-content;
}
.card-box .category-box{
    float: left;
    margin-left: 5%;
    width: 65%;
    height: min-content;
    text-align: center;
}
.card-box .category-tag{
    cursor: pointer;
    display: inline-block;
    width: min-content;
    white-space: nowrap;
    padding: 0 10px;
    min-width: 50px;
    height: 40px;
    line-height: 36px;
    margin: 0 5px 15px 5px;
    border-radius: 20px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: var(--font-color);
    background-color: transparent;
    border: 2px solid var(--second-color);
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
}
.card-box .category-tag.active{
    background-color: var(--second-color);
}
.card-box .category-tag:hover{
    background-color: var(--light-hover-color);
    box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.card-box .button{
    align-self: center;
    margin-top: 30px;
    width: 120px;
}

@media screen and (max-width: 900px) {
    .card-box .text-separator{
        width: 100%;
    }
    .card-box .category-box{
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }
}