*{
    box-sizing: border-box;
    transition: 0.2s;
}
html{
    height: 100%;
    min-height: 100%;
}
body{
    height: 100%;
    min-height: 100%;
    background-color: var(--body-color);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
h1,h2,h3,p{
    display: block;
    font-weight: unset;
    font-size: unset;
    margin-block-start: unset;
    margin-block-end: unset;
}
ul{
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
}
a{
    text-decoration: none;
    color: inherit;
}
input,button,textarea{
    outline: none;
    border: none;
}
input:focus,button:focus,textarea:focus{
    outline: none;
    border: none;
}
textarea{
    resize: none;
    background-color: transparent;
}
.hidden{
    display: none;
}
.logo-box{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 40px;
}
.logo-box.top{
    float: left;
}
.logo-box.preview{
    width: 310px;
    height: 80px;
    margin: 0 calc(50% - 155px);
}
.logo-animator{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px -2px var(--box-shadow-color);
    background-image: var(--gradient);
    background-size: 200% 200%;
    background-position: 50% 100%;
    z-index: 10;
    transition: 0.4s;
}
.logo-box.preview .logo-animator{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.logo-name{
    float: right;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1px;
    color: var(--font-color);
}
.logo-box.preview .logo-name{
    width: 220px;
    height: 80px;
    line-height: 80px;
    font-size: 42px;
}
.logo-box:hover{
    justify-content: center;
}
.logo-box:hover .logo-name{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 26px;
    letter-spacing: 2px;
    color: var(--opposite-font-color);
    text-align: center;
    z-index: 100;
}
.logo-box.preview:hover .logo-name{
    font-size: 40px;
}
.logo-box.preview:hover .logo-animator{
    font-size: 40px;
    background-position: 134% 100%;
}
.logo-box:hover .logo-animator{
    width: 100%;
    box-shadow: 0 4px 6px -2px var(--box-shadow-color);
    background-position: 134% 100%;
}
body .screen-fix{
    position: relative;
    width: 1100px;
    margin: 0 calc(50% - 550px);
    min-height: 100%;
    height: 100%;
    z-index: 2000;
}
body .margin-20{
    margin-top: 20px;
}
body .margin-50{
    margin-top: 50px;
}
body .margin-70{
    margin-top: 70px;
}
body .full-width{
    width: 100%;
}
body .flex{
    display: flex;
}
body .flex.row{
    flex-direction: row;
}
body .flex.column{
    flex-direction: column;
}
body .flex.column.left{
    align-items: flex-start;
    justify-content: center;
}
body .flex.column.right{
    align-items: flex-end;
    justify-content: center;
}
body .flex.column.center{
    align-items: center;
    justify-content: center;
}
body .flex.row.left{
    align-items: center;
    justify-content: left;
}
body .flex.row.right{
    align-items: center;
    justify-content: right;
}
body .flex.row.center{
    align-items: center;
    justify-content: center;
}
.button{
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin-top: 15px;
    line-height: 40px;
    border-radius: 7px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: var(--opposite-font-color);
    background-image: var(--gradient);
    background-size: 200% 200%;
    background-position: 50% 100%;
    box-shadow: 0 2px 4px -2px var(--box-shadow-color);
}
.button:hover{
    box-shadow: 0 4px 6px -2px var(--box-shadow-color);
    background-position: 150% 100%;
}
.first-color-text{
    color: var(--first-color);
}
.second-color-text{
    color: var(--second-color);
}
.title-border{
    display: inline-block;
    margin-bottom: 5px;
    width: 60px;
    height: 8px;
    background-image: var(--gradient);
    background-size: 200% 200%;
    background-position: 20% 100%;
}

@media screen and (max-width: 1366px) {
    body .screen-fix{
        width: 100%;
        margin: 0;
        padding: 0 30px;
    }
}

@media screen and (max-width: 500px) {
    body .screen-fix{
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
}

.hero-box .search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--opposite-font-color);
    opacity: 1; /* Firefox */
}

.hero-box .search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--opposite-font-color);
}

.hero-box .search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--opposite-font-color);
}

.hero-text .search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--opposite-font-color);
    opacity: 1; /* Firefox */
}

.hero-text .search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--opposite-font-color);
}

.hero-text .search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--opposite-font-color);
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}