*{
    box-sizing: border-box;
    transition: 0.2s;
}
body{
    background-color: var(--body-color);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: min-content;
}
a{
    text-decoration: none;
    color: inherit;
}
input,button{
    outline: none;
    border: none;
}
input:focus,button:focus{
    outline: none;
    border: none;
}
.logo-box{
    position: relative;
    width: 220px;
    height: 40px;
}
.logo-animator{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px -2px var(--box-shadow-color);
    background-image: var(--gradient);
    background-size: 200% 200%;
    background-position: 50% 100%;
    z-index: 10;
    transition: 0.4s;
}
.logo-name{
    float: right;
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1px;
    color: var(--font-color);
}
.logo-box:hover{
    margin-right: 60px;
    width: 160px;
    justify-content: center;
}
.logo-box:hover .logo-name{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 24px;
    color: var(--opposite-font-color);
    text-align: center;
    z-index: 100;
}
.logo-box:hover .logo-animator{
    width: 100%;
    box-shadow: 0 4px 6px -2px var(--box-shadow-color);
    background-position: 130% 100%;
}
body .screen-fix{
    position: relative;
    width: 1100px;
    margin: 0 calc(50% - 550px);
    height: 100%;
    z-index: 2000;
}
body .margin-20{
    margin-top: 20px;
}
body .margin-50{
    margin-top: 50px;
}
body .margin-70{
    margin-top: 70px;
}
body .full-width{
    width: 100%;
}
body .flex{
    display: flex;
}
body .flex.row{
    flex-direction: row;
}
body .flex.column{
    flex-direction: column;
}
body .flex.column.left{
    align-items: flex-start;
    justify-content: center;
}
body .flex.column.right{
    align-items: flex-end;
    justify-content: center;
}
body .flex.column.center{
    align-items: center;
    justify-content: center;
}
body .flex.row.left{
    align-items: center;
    justify-content: left;
}
body .flex.row.right{
    align-items: center;
    justify-content: right;
}
body .flex.row.center{
    align-items: center;
    justify-content: center;
}
.button{
    display: inline-block;
    height: 40px;
    margin-top: 15px;
    line-height: 40px;
    border-radius: 7px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: var(--opposite-font-color);
    background-image: var(--gradient);
    background-size: 200% 200%;
    background-position: 50% 100%;
    box-shadow: 0 2px 4px -2px var(--box-shadow-color);
}
.button:hover{
    box-shadow: 0 4px 6px -2px var(--box-shadow-color);
    background-position: 150% 100%;
}
.first-color-text{
    color: var(--first-color);
}
.second-color-text{
    color: var(--second-color);
}
.title-border-first-color{
    margin-bottom: 5px;
    width: 80px;
    height: 0;
    border-bottom: 2px solid var(--first-color);
}
.title-border-second-color{
    margin-bottom: 5px;
    width: 80px;
    height: 0;
    border-bottom: 2px solid var(--second-color);
}

@media screen and (max-width: 1366px) {
    body .screen-fix{
        width: 100%;
        margin: 0;
        padding: 0 30px;
    }
}

@media screen and (max-width: 500px) {
    body .screen-fix{
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
}

.hero-search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--opposite-font-color);
    opacity: 1; /* Firefox */
}

.hero-search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--opposite-font-color);
}

.hero-search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--opposite-font-color);
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}