.side-bar{
    position: relative;
    width: 200px;
    height: 100%;
}
.side-bar.desktop{
    display: table-cell;
}
.side-bar.mobile{
    display: none;
    height: 80px;
    width: 100%;
    margin-top: 30px;
}
.information-card{
    float: left;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 200px;
    min-height: 200px;
    height: min-content;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: var(--lighter-color);
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
}
.information-card:hover{
    box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.information-card.mobile{
    float: left;
    width: calc(75% - 20px);
    height: 80px;
    min-height: unset;
    margin-right: 20px;
    margin-bottom: 0;
    padding: 10px;
    text-align: left;
}
.information-card .image{
    display: inline-block;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}
.information-card.mobile .image{
    float: left;
    margin-top: 0;
    margin-right: 10px;
}
.information-card .description{
    margin-top: 10px;
    padding: 0 20px;
    display: inline-block;
    width: 100%;
    height: min-content;
    font-family: var(--font);
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    color: var(--font-color);
}
.information-card.mobile .description{
    float: left;
    margin-top: 0;
    width: calc(100% - 230px);
    height: 60px;
    line-height: 30px;
    padding: 0;
}
.information-card .title{
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    color: var(--font-color);
}
.information-card .title.bold{
    font-weight: 700;
}
.information-card.mobile .title{
    float: left;
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin-top: 0;
}
.information-card.mobile .image-box{
    display: inline-block;
    float: left;
    width: 220px;
    height: 60px;
    margin-right: 10px;
}
.information-card .stars{
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-family: var(--font);
    font-weight: 400;
    vertical-align: center;
}
.information-card .stars svg{
    font-size: 16px;
    color: var(--first-color);
    margin: 0 2px;
}
.category-bar{
    float: left;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 200px;
    height: calc(100% - 220px);
    padding: 20px;
    border-radius: 20px;
    background-color: var(--lighter-color);
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
}
.category-bar:hover{
    box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.category-bar.mobile{
    position: absolute;
    margin-top: 20px;
    left: 0;
    width: 100%;
    height: min-content;
    max-height: 0;
    padding: 0 20px;
    overflow: hidden;
    z-index: 20000;
}
.category-bar .title{
    width: 100%;
    font-family: var(--font);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: left;
    color: var(--font-color);
    margin-bottom: 15px;
}
.category-bar .title svg{
    font-size: 20px;
    vertical-align: text-bottom;
    color: var(--first-color);
    margin-right: 3px;
}
.category-bar-title{
    position: relative;
    cursor: pointer;
    float: left;
    width: 25%;
    height: 80px;
    padding: 0 10px;
    line-height: 80px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: left;
    color: var(--font-color);
    border-radius: 20px;
    background-color: var(--lighter-color);
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
}
.category-bar-title:hover{
    box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.category-bar-title svg.category{
    font-size: 20px;
    vertical-align: text-bottom;
    color: var(--first-color);
    margin-right: 5px;
}
.category-bar-title svg.expand{
    display: inline-block;
    font-size: 20px;
    vertical-align: text-bottom;
    color: var(--first-color);
    height: 80px;
    line-height: 100%;
    float: right;
}
.category-bar .link{
    display: block;
    width: min-content;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    font-family: var(--font);
    font-weight: 400;
    font-size: 14px;
    color: var(--font-color);
    margin-bottom: 8px;
    border-left: 2px solid var(--first-color);
    padding-left: 7px;
}
.category-bar .link:hover{
    border-left: 5px solid var(--second-color);
    padding-left: 4px;
}
.category-bar .link.active{
    border-left: 5px solid var(--second-color);
    padding-left: 4px;
}

@media screen and (max-width: 850px) {
    .side-bar.desktop{
        display: none;
    }
    .side-bar.mobile{
        display: inline-block;
    }
}

@media screen and (max-width: 750px) {
    .side-bar.mobile{
        height: min-content;
    }
    .information-card.mobile{
        width: 100%;
        margin-right: 0;
    }
    .category-bar-title{
        margin-top: 20px;
        width: 100%;
    }
}
@media screen and (max-width: 650px) {
    .information-card.mobile{
        height: min-content;
        text-align: center;
        padding: 20px;
    }
    .information-card.mobile .image-box{
        display: inline-block;
        float: none;
    }
    .information-card.mobile .description{
        float: none;
        width: 100%;
        height: min-content;
        margin-top: 10px;
    }
    .category-bar-title{
        padding: 0 20px;
    }
}