.category-card{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: 0 11px 24px 11px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
}
.category-card:hover{
    box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.category-card .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--overlay-color);
}
.category-card:hover .category-card .overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    box-shadow: none;
}
.category-card .overlay{
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    border-radius: 20px;
    background-color: var(--overlay-color-solid);
    box-shadow: 0 2px 4px -2px var(--dark-box-shadow-color);
    z-index: 10;
}
.category-card .name{
    margin-top: calc(50% - 30px);
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 17px;
    color: var(--font-color);
}
.category-card .counter{
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 19px;
    color: var(--font-color);
}
.category-card .time{
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 15px;
    color: var(--font-color);
}

@media screen and (max-width: 900px) {
    .category-card{
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width: 500px) {
    .category-card{
        width: 100%;
        height: unset;
        padding-bottom: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}