.header-box{
    position: relative;
    width: 100%;
    padding: 50px 0;
    min-height: 715px;
    background-color: var(--top-bottom-box-color);
    box-shadow: 0 1px 2px -1px var(--box-shadow-color);
    margin-bottom: 20px;
}
.header-box.no-box{
    background-color: transparent;
    box-shadow: none;
}
.header-box.has-wave{
    margin-bottom: 50px;
    box-shadow: none;
}
.header-box.has-wave .wave{
    display: unset;
}
.header-box .stats-container{
    width: 100%;
    height: min-content;
    text-align: center;
    margin-top: 30px;
}
.header-box .stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    position: relative;
    width: 23.5%;
    height: 100px;
    margin-right: 2%;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: var(--lighter-color);
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
}
.header-box .stats:hover{
    box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.header-box .stats:last-child{
    margin-right: 0;
}
.header-box .stats-number{
    float: left;
    display: inline-block;
    width: 100px;
    height: 60px;
    line-height: 30px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: var(--font-color);
}
.header-box .stats-name{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-family: var(--font);
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    color: var(--font-color);
}
.header-box .stats-icon-container{
    float: left;
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    margin-left: calc(50% - 85px);
    line-height: 65px;
    font-size: 28px;
    color: var(--opposite-font-color);
    text-align: center;
    border-radius: 30px;
    margin-right: 10px;
    background-image: var(--gradient);
    background-size: 200% 200%;
    background-position: 50% 100%;
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
}
.header-box .stats:hover .stats-icon-container{
    background-position: 150% 100%;
}
.hero-box{
    width: 100%;
    height: min-content;
    padding: 50px 40px;
    border-radius: 20px;
    margin-top: 50px;
    background-color: var(--lighter-color);
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
}
.hero-box:hover{
    box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.hero-box .text-container{
    float: left;
    width: 50%;
    height: min-content;
}
.hero-box .image-container{
    position: relative;
    float: left;
    width: 50%;
    height: 300px;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: var(--hero-image);
}
.hero-box .image-container svg{
    height: 300px;
    width: 330px;
    float: right;
}
.hero-box .title{
    width: 100%;
    height: min-content;
    font-family: var(--font);
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    color: var(--font-color);
}
.hero-box .text{
    width: 100%;
    height: min-content;
    margin-top: 40px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    text-align-last: left;
    color: var(--font-color);
}
.hero-box .search-bar{
    position: relative;
    display: inline-block;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    margin-top: 40px;
    overflow: hidden;
    box-shadow: 0 2px 4px -2px var(--box-shadow-color);
    transition: 0.35s;
}
.hero-box .search-bar:hover{
    box-shadow: 0 4px 6px var(--box-shadow-color);
}
.hero-box .search-input{
    height: 100%;
    width: 100%;
    padding-right: 40px;
    padding-left: 20px;
    border-radius: 10px;
    font-family: var(--font);
    font-size: 13px;
    color: var(--opposite-font-color);
    background-color: #222222;
    background-image: var(--gradient);
    background-size: 200% 200%;
    background-position: 50% 100%;
}
.hero-box .search-input:hover{
    background-position: 111% 100%;
}
.hero-box .search-button{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--opposite-font-color);
    font-size: 14px;
}

@media screen and (max-width: 992px) {
    .header-box .stats-icon-container{
        margin-right: 0;
        margin-left: calc(50% - 80px);
    }
    .header-box .stats-number{
        width: 80px;
    }
}

@media screen and (max-width: 900px) {
    .header-box{
        padding: 30px 0;
    }
    .hero-box{
        margin-top: 30px;
        padding: 30px;
    }
    .hero-box .text-container{
        width: 100%;
        text-align: center;
    }
    .hero-box .image-container{
        width: 100%;
        background-position: center;
        text-align: center;
    }
    .hero-box .image-container svg{
        float: none;
    }
    .hero-box .search-bar{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 800px) {
    body .hero-box{
        display: block;
    }
    .header-box .stats-icon-container{
        display: none;
    }
    .header-box .stats-number{
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 500px) {
    .hero-box{
        padding: 20px;
    }
    .hero-box .title{
        font-size: 30px;
    }
    .header-box .stats{
        width: 21.25%;
        height: unset;
        padding-bottom: 21.25%;
        margin-right: 5%;
    }
    .header-box .stats-number{
        position: absolute;
        width: 90%;
        top: calc(50% - 30px);
        left: 5%;
        margin-left: 0;
    }
}