.team-card{
    float: left;
    display: inline-block;
    position: relative;
    text-align: center;
    width: calc((100% - 60px)/4);
    height: min-content;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0 15px 15px 15px;
    border-radius: 20px;
    background-color: var(--lighter-color);
    box-shadow: 0 2px 4px -1px var(--box-shadow-color);
}
.team-card:nth-child(4n){
    margin-right: 0;
}
.team-card:hover{
    box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.team-card .image{
    display: inline-block;
    margin-top: -40px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
}
.team-card .description{
    margin-top: 10px;
    text-align: justify;
    text-align-last: left;
    display: inline-block;
    width: 100%;
    height: min-content;
    font-family: var(--font);
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    color: var(--font-color);
}
.team-card .name{
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 16px;
    color: var(--font-color);
}
.team-card .job{
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    color: var(--font-color);
}
.team-card .stars-container{
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-family: var(--font);
    font-weight: 400;
}
.team-card .stars-container svg{
    font-size: 18px;
    vertical-align: text-bottom;
    color: var(--first-color);
    margin: 0 5px;
}

@media screen and (max-width: 1000px) {
    .team-card{
        width: calc((100% - 20px)/2);
        margin-bottom: 80px;
    }
    body .team-card:nth-child(2n){
        margin-right: 0;
    }
    .team-card .image{
        margin-top: -50px;
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }
    .team-card .description{
        font-size: 18px;
    }
    .team-card .name{
        font-size: 18px;
    }
    .team-card .job{
        font-size: 18px;
    }
    .team-card .stars svg{
        font-size: 24px;
        margin: 0 12px;
    }
}

@media screen and (max-width: 600px) {
    .team-card{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}